# coding: utf-8

"""
    AEMET OpenData

    AEMET OpenData es una API REST desarrollado por AEMET que permite la difusión y la reutilización de la información meteorológica y climatológica de la Agencia, en el sentido indicado en la Ley 18/2015, de 9 de julio, por la que se modifica la Ley 37/2007, de 16 de noviembre, sobre reutilización de la información del sector público. (IMPORTANTE: Para poder realizar peticiones, es necesario introducir en API Key haciendo clic en el círculo rojo de recurso REST).  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AvisosCapApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def avisos_de_fenmenos_meteorolgicos_adversos__archivo(self, fecha_ini_str, fecha_fin_str, **kwargs):  # noqa: E501
        """Avisos de Fenómenos Meteorológicos Adversos. Archivo.  # noqa: E501

         Avisos de Fenómenos Meteorológicos adversos para el rango de fechas seleccionado (datos desde 18/06/2018).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.avisos_de_fenmenos_meteorolgicos_adversos__archivo(fecha_ini_str, fecha_fin_str, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fecha_ini_str: Fecha Inicial (AAAA-MM-DDTHH:MM:SSUTC) (required)
        :param str fecha_fin_str: Fecha Final (AAAA-MM-DDTHH:MM:SSUTC) (required)
        :return: Model200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.avisos_de_fenmenos_meteorolgicos_adversos__archivo_with_http_info(fecha_ini_str, fecha_fin_str, **kwargs)  # noqa: E501
        else:
            (data) = self.avisos_de_fenmenos_meteorolgicos_adversos__archivo_with_http_info(fecha_ini_str, fecha_fin_str, **kwargs)  # noqa: E501
            return data

    def avisos_de_fenmenos_meteorolgicos_adversos__archivo_with_http_info(self, fecha_ini_str, fecha_fin_str, **kwargs):  # noqa: E501
        """Avisos de Fenómenos Meteorológicos Adversos. Archivo.  # noqa: E501

         Avisos de Fenómenos Meteorológicos adversos para el rango de fechas seleccionado (datos desde 18/06/2018).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.avisos_de_fenmenos_meteorolgicos_adversos__archivo_with_http_info(fecha_ini_str, fecha_fin_str, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str fecha_ini_str: Fecha Inicial (AAAA-MM-DDTHH:MM:SSUTC) (required)
        :param str fecha_fin_str: Fecha Final (AAAA-MM-DDTHH:MM:SSUTC) (required)
        :return: Model200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fecha_ini_str', 'fecha_fin_str']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method avisos_de_fenmenos_meteorolgicos_adversos__archivo" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fecha_ini_str' is set
        if ('fecha_ini_str' not in params or
                params['fecha_ini_str'] is None):
            raise ValueError("Missing the required parameter `fecha_ini_str` when calling `avisos_de_fenmenos_meteorolgicos_adversos__archivo`")  # noqa: E501
        # verify the required parameter 'fecha_fin_str' is set
        if ('fecha_fin_str' not in params or
                params['fecha_fin_str'] is None):
            raise ValueError("Missing the required parameter `fecha_fin_str` when calling `avisos_de_fenmenos_meteorolgicos_adversos__archivo`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fecha_ini_str' in params:
            path_params['fechaIniStr'] = params['fecha_ini_str']  # noqa: E501
        if 'fecha_fin_str' in params:
            path_params['fechaFinStr'] = params['fecha_fin_str']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/api/avisos_cap/archivo/fechaini/{fechaIniStr}/fechafin/{fechaFinStr}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Model200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def avisos_de_fenmenos_meteorolgicos_adversos__ltimo_(self, area, **kwargs):  # noqa: E501
        """Avisos de Fenómenos Meteorológicos Adversos. Último.  # noqa: E501

         Últimos Avisos de Fenómenos Meteorológicos adversos elaborado para el área seleccionada.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.avisos_de_fenmenos_meteorolgicos_adversos__ltimo_(area, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str area:  | Código | Área | |----------|----------| | esp  | España| | 61  | Andalucía   | | 62  | Aragón   | | 63  | Asturias, Principado de  | | 64  | Ballears, Illes   | | 78  | Ceuta   | | 65  | Canarias   | | 66  | Cantabria   | | 67  | Castilla y León   | | 68  | Castilla - La Mancha   | | 69  | Cataluña   | | 77  | Comunitat Valenciana   | | 70  | Extremadura   | | 71  | Galicia   | | 72  | Madrid, Comunidad de    | | 79  | Melilla   | | 73  | Murcia, Región de   | | 74  | Navarra, Comunidad Foral de   | | 75  | País Vasco | | 76  | Rioja, La (required)
        :return: Model200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.avisos_de_fenmenos_meteorolgicos_adversos__ltimo__with_http_info(area, **kwargs)  # noqa: E501
        else:
            (data) = self.avisos_de_fenmenos_meteorolgicos_adversos__ltimo__with_http_info(area, **kwargs)  # noqa: E501
            return data

    def avisos_de_fenmenos_meteorolgicos_adversos__ltimo__with_http_info(self, area, **kwargs):  # noqa: E501
        """Avisos de Fenómenos Meteorológicos Adversos. Último.  # noqa: E501

         Últimos Avisos de Fenómenos Meteorológicos adversos elaborado para el área seleccionada.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.avisos_de_fenmenos_meteorolgicos_adversos__ltimo__with_http_info(area, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str area:  | Código | Área | |----------|----------| | esp  | España| | 61  | Andalucía   | | 62  | Aragón   | | 63  | Asturias, Principado de  | | 64  | Ballears, Illes   | | 78  | Ceuta   | | 65  | Canarias   | | 66  | Cantabria   | | 67  | Castilla y León   | | 68  | Castilla - La Mancha   | | 69  | Cataluña   | | 77  | Comunitat Valenciana   | | 70  | Extremadura   | | 71  | Galicia   | | 72  | Madrid, Comunidad de    | | 79  | Melilla   | | 73  | Murcia, Región de   | | 74  | Navarra, Comunidad Foral de   | | 75  | País Vasco | | 76  | Rioja, La (required)
        :return: Model200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['area']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method avisos_de_fenmenos_meteorolgicos_adversos__ltimo_" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'area' is set
        if ('area' not in params or
                params['area'] is None):
            raise ValueError("Missing the required parameter `area` when calling `avisos_de_fenmenos_meteorolgicos_adversos__ltimo_`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'area' in params:
            path_params['area'] = params['area']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/api/avisos_cap/ultimoelaborado/area/{area}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Model200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
